@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body{
    padding: 3%;
    background-color: black;
}
img{
    border-radius: 10px;
}
section{
    background-color: darkred;
    border-radius: 10px 20px;
    border: 1px solid gold;

    padding: 3%;
    margin: 1%;
}