
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body{  
    background-image: radial-gradient(rgb(88, 10, 119),rgb(0, 0, 0));

    background-color: #212121;
    padding: .5%;  
    font-family: "Comic Neue", cursive;
    font-style: normal;
    font-size: x-large;
}
header{
    
   
}
footer{
    
    
}
section{
    width: 80%;
    margin: .5%;
    padding: 2%;

    background-color: rgba(0, 0, 0, 0);
    color: rgb(250, 206, 153);
    
    border: 1px solid;
    border-radius: 10px;
    text-align: center;

    overflow: hidden;          
    text-overflow: ellipsis;
    
}
p{
    text-align: justify;
    white-space: pre-wrap;
}
code{
    opacity: .5;
    color: whitesmoke;
    font-size: 14px;    
}
ul{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    gap: 15px 15px;

    list-style: none;
    padding: 0;
    margin: 0;
}
/*display-central*/
#display-central{
    
    display: flex;
    flex-direction: row-reverse;
}
/*navegacao*/
#navegacao{
    position: fixed;

    margin: 0 0 2% 2%;
    padding: 1%;
    height: 75%;

    display: flex;
    flex-direction: column;

    color: rgb(250, 206, 153);
    border:  rgb(250, 206, 153) solid 1px;
    border-radius: 10px 0 0 10px;

    font-size: large;

    overflow-y: scroll; 
}
/* Define o estilo básico da barra de rolagem */
::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem vertical */
    height: 12px; /* Altura da barra de rolagem horizontal */
  }
  
  /* Define o estilo da trilha (track) */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Cor do fundo da trilha */
  }
  
  /* Define o estilo do polegar (thumb) */
  ::-webkit-scrollbar-thumb {
    background: #888; /* Cor do polegar */
    border-radius: 6px; /* Cantos arredondados do polegar */
  }
  
  /* Define o estilo do polegar ao passar o mouse */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Cor do polegar ao passar o mouse */
  }
  
  /* Define o estilo dos botões de incremento e decremento (opcional) */
  ::-webkit-scrollbar-button {
    background: #ccc; /* Cor dos botões */
    display: none; /* Oculta os botões */
  }
a{
    color:  rgb(250, 206, 153);
    text-decoration: none;
    margin: 1%;
    padding: 0 5%;
    transition: color 0.3s ease;
    
}
a:hover{
    border-radius: 5px;
     background-color: rgba(0, 0, 0, 0.3);
}
/**/
.exemplo{
    background-color: rgba(0, 0, 0, .5);

    width: 300px;
    height: 300px;

    border-radius: 10px;
}
/*object-fit*/

#object-fit .exemplo{
    width: 200px;
    height: 300px;
    border: 5px solid rgb(242, 191, 6);
}
#object-fit img{
    width: 100%;
    height: 100%;
}

#contain{
    object-fit: contain;
}
#cover{
    object-fit: cover;
}
#none{
    object-fit: none;
}
#scale-down{
    object-fit: scale-down;
}

/*background-color*/

#background-color .color{
    background-color: red;
}
#background-color .Hexadecimal{
    background-color: #ff0000
}
#background-color .RGB{
    background-color: rgb(255, 0, 0);
}
#background-color .RGBA{
    background-color: rgba(255, 0, 0, 0.5);
}
#background-color .HSL{
    background-color: hsl(0, 100%, 50%);
}
#background-color .HSLA{
    background-color: hsla(0, 100%, 50%, 0.5);
}

/*background-image*/

#background-image ul{
    justify-content: center;

    gap: 30px 20px;
    padding: 1%;
}
#background-image .multiplas{
    
    display: flex;
    flex-direction: row;
}
#background-image .texto{
    margin-top: 10%;
    text-align: justify;
    width: 600px;
    height: 300px;
}
/**/

#background-image .Ex1{
    
    background-image: radial-gradient(rgb(255, 0, 0), rgb(22, 4, 102));
}
#background-image .Ex2{
   
    background-image: linear-gradient(to right, red, blue);
}
#background-image .Ex3{
    
    background-image: url(https://img.freepik.com/fotos-gratis/papel-de-parede-abstrato-ultra-detalhado-da-nebulosa-6_1562-751.jpg);
}
#background-image .Ex4{
 
    background-image: url(https://img.freepik.com/fotos-gratis/papel-de-parede-abstrato-ultra-detalhado-da-nebulosa-6_1562-751.jpg), linear-gradient(to right, red, blue);
    background-blend-mode:multiply;
}
#background-image .Ex5{
    background-position: 30px;
}
#background-image .Ex6{
   background-position: center;
}
#background-image .Ex7{
    background-position: 10% 30%;
}
#background-image .Ex8{
    background-position: bottom 10px right 20px;
}
/*background-repeat*/

#background-repeat div{
    border: 5px solid rgb(0, 0, 0);
    width: 300px;
    height: 300px;
    background-image: url(https://t3.ftcdn.net/jpg/03/95/29/32/360_F_395293226_A4boRgABAbfXmAmmynQHcjjIIB3MjDCj.jpg);
    background-size: 120px;
}
#background-repeat .Ex1{
    background-repeat: repeat;
}
#background-repeat .Ex2{
    background-repeat: repeat-x;
}
#background-repeat .Ex3{
    background-repeat: repeat-y;
}
#background-repeat .Ex4{
    background-repeat: space;
}
#background-repeat .Ex5{
    background-repeat: round;
}
#background-repeat .Ex6{
    background-repeat: no-repeat;
}
#background-repeat .Ex7{
    background-repeat: repeat space;
}
/*background-position*/

#background-position div{
    border: 5px solid rgb(0, 0, 0);
    width: 300px;
    height: 300px;
    background-image: url(https://t3.ftcdn.net/jpg/03/95/29/32/360_F_395293226_A4boRgABAbfXmAmmynQHcjjIIB3MjDCj.jpg);
    background-size: 120px;
    background-repeat: no-repeat; 
    
}
#background-position .Ex1{
    background-position: bottom;
}
#background-position .Ex2{
    background-position: top;
}
#background-position .Ex3{
    background-position: left;
}
#background-position .Ex4{
    background-position:right;
}
#background-position .Ex5{
    background-position: 30px;
}
#background-position .Ex6{
   background-position: center;
}
#background-position .Ex7{
    background-position: 10% 30%;
}
#background-position .Ex8{
    background-position: bottom 10px right 20px;
}

/*#background-size*/

#background-size li{
    display: flex;
    flex-direction: row;
    justify-content: center;
    row-gap: 5px;
    width: 100%;
}
#background-size .texto{
    align-items: end;
    padding: 3%;
    width: 500px;
    height: 300px;
   
}
/**/
#background-size .Ex1{
    
    background-image: url(https://img.freepik.com/fotos-gratis/papel-de-parede-abstrato-ultra-detalhado-da-nebulosa-6_1562-751.jpg);

 } 
#background-size .Ex2{
    
    background-image: url(https://img.freepik.com/fotos-gratis/papel-de-parede-abstrato-ultra-detalhado-da-nebulosa-6_1562-751.jpg);
    background-size: cover;
 }  
 #background-size .Ex3{
    
    background-image: url(https://img.freepik.com/fotos-gratis/papel-de-parede-abstrato-ultra-detalhado-da-nebulosa-6_1562-751.jpg);
    background-size: contain;
 } 
 #background-size .Ex4{
    
    background-image: url(https://img.freepik.com/fotos-gratis/papel-de-parede-abstrato-ultra-detalhado-da-nebulosa-6_1562-751.jpg);
    background-size: 50% ;
 }     
#background-size .Ex5{
    
    background-image: url(https://img.freepik.com/fotos-gratis/papel-de-parede-abstrato-ultra-detalhado-da-nebulosa-6_1562-751.jpg);
    background-size: 200px 250px;
 } 

/*BackGround Attachment*/

#BackGround-Attachment li{
    display: flex;
    flex-direction: column;
  
}

#BackGround-Attachment .Ex-1, .Ex-2, .Ex-3{
    
    
    margin: 5px;
    border: 5px solid rgba(0, 0, 0, 0.5);
    width: 300px;
    height: 300px;
    
    background-image: url(https://t3.ftcdn.net/jpg/03/95/29/32/360_F_395293226_A4boRgABAbfXmAmmynQHcjjIIB3MjDCj.jpg);
    background-size: auto;
    overflow: auto; 

}
#BackGround-Attachment .Ex-1 {
    background-attachment: fixed;
}
#BackGround-Attachment .Ex-2{
    background-attachment: scroll;
}
#BackGround-Attachment .Ex-3{
    background-attachment: local;
}

/*BackGround-origin*/

#background-origin li{
    display: flex;
    flex-direction: column;
  
}
#background-origin .exemplo{
           
    background-image: url(https://t3.ftcdn.net/jpg/03/95/29/32/360_F_395293226_A4boRgABAbfXmAmmynQHcjjIIB3MjDCj.jpg);
    background-size: 400px 350px;
    background-repeat: no-repeat;

    border: 10px dashed rgba(0, 0, 0, .5);
  
}
#background-origin .texto{
    padding: 3%;
    width: 300px;
    height: 350px;
}
/**/
#background-origin #padding-box{
    background-origin: padding-box;
}
#background-origin #border-box{
    background-origin: border-box;
}
#background-origin #contenet-box{
    background-origin: content-box;
}

/*background-clip*/

#background-clip li{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    
}

#background-clip .texto{
    padding: 1%;
    width: 400px;
    height: 200px;
   
    
}
#background-clip .exemplo{
   
    margin: 3%;
    border: 15px dashed orangered;
    color:white;
    padding: 3%;
    font-size: 100px;
    font-weight: 900;
    background-color: aqua;
    background-image: url(https://assets-global.website-files.com/6009ec8cda7f305645c9d91b/6010813f5ce191dc4701ea9b_6002086f72b72724ad01dec6_flexbox-and-css-grid.jpeg);
            
}
/**/
#background-clip #padding-box{
    background-clip: padding-box ;
}
#background-clip #border-box{
    background-clip: border-box ;       
}
#background-clip #content-box{
    background-clip: content-box;
}
#background-clip #text{
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

/*blend-mode*/

#blend-mode li{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    
}

#blend-mode .exemplo{

    border: 15px dashed orangered;
    color:white;
    font-size: 100px;
    font-weight: 900;
    background-color: rgb(7, 107, 107);
    background-image: url(https://img.freepik.com/fotos-gratis/fundo-de-pintura-abstrata-com-pintura-em-aquarela-multicolorida-gerada-por-ia_188544-15558.jpg)           
}
/**/
#blend-mode #normal {
    
    background-blend-mode: normal;
}
#blend-mode #multiply {
    background-blend-mode: multiply;
}
#blend-mode #screen {
    background-blend-mode: screen;
}
#blend-mode #overlay {
    background-blend-mode: overlay;
}
#blend-mode #darken {
    background-blend-mode: darken;
}
#blend-mode #lighten {
    background-blend-mode: lighten;
}
#blend-mode #color-dodge {
    background-blend-mode: color-dodge;
}
#blend-mode #color-burn {
    background-blend-mode: color-burn;
}
#blend-mode #hard-light {
    background-blend-mode: hard-light;
}
#blend-mode #soft-light {
    background-blend-mode: soft-light;
}
#blend-mode #difference {
    background-blend-mode: difference;
}
#blend-mode #exclusion {
    background-blend-mode: exclusion;
}
/*background*/

#background .exemplo{
    width: 300px;
    height: 300px;

    border: 15px dashed orangered;
    color:white;
   
    font-size: 100px;
    font-weight: 900;
  
}
#background-resumido {
    background: violet url(https://img.freepik.com/fotos-gratis/fundo-de-pintura-abstrata-com-pintura-em-aquarela-multicolorida-gerada-por-ia_188544-15558.jpg) no-repeat top center/200px 200px fixed padding-box content-box;
    
}
#background div{
    margin-left: auto;
    margin-right: auto;
   
}
#background code, p, ol{
    
    color: white;
    font-size: 20px;
    text-align: start;
    
}
/*Bordas*/

#Bordas p{
    padding: 3%;
    text-align: center;
}
#width {
    border-style: solid;
    border-width: 10px 20px 30px 40px;

}
#style {
    border-width: 10px;
    border-style: dashed groove dotted double;

}
#color {
    border-color: rgb(0, 78, 81) green violet yellow;
    border-style: solid;
    border-width: 10px
}
/*border-radius*/
#border-radius .exemplo p {
    
    padding: 30%;
    text-align: center;
}

#border-radius01{
    border-radius: 20px 10px 30px 50px;
}
#border-radius02{
    border-radius: 50%;
}
#border-radius03{
    border-radius: 50% 20px 20px;
}
/*image-source*/
#image-source01 {
    border: 20px solid;
    border-image-source: url(https://laart.art.br/wp-content/uploads/2020/02/oqueearteabstrata-capa.jpg);
}
#image-source02 {
    border: 20px solid;
    border-image-source:linear-gradient(black, rgb(228, 14, 232));
}
#image-width {
    border: 20px solid;
    border-image-source: url(https://laart.art.br/wp-content/uploads/2020/02/oqueearteabstrata-capa.jpg); /* URL da imagem da borda */
    border-image-slice: 20;
    border-image-repeat: repeat;
    border-image-width: 10px 20px 30px;            
}
#image-repeat01 {
    border: 20px solid;
    border-image-source: url(https://st5.depositphotos.com/35914836/63548/i/450/depositphotos_635487238-stock-photo-abstract-background-neon-light-motion.jpg);
    border-image-slice: 20;
    border-image-repeat: repeat;
    
}
#image-repeat02{
    border: 20px solid;
    border-image-source: url(https://st5.depositphotos.com/35914836/63548/i/450/depositphotos_635487238-stock-photo-abstract-background-neon-light-motion.jpg);
    border-image-slice: 20;
    border-image-repeat: stretch;
    

}
#image-repeat03{
    border: 20px solid;
    border-image-source: url(https://st5.depositphotos.com/35914836/63548/i/450/depositphotos_635487238-stock-photo-abstract-background-neon-light-motion.jpg);
    border-image-slice: 20;
    border-image-repeat: space;
}
#image-repeat04{
    border: 20px solid;
    border-image-source: url(https://st5.depositphotos.com/35914836/63548/i/450/depositphotos_635487238-stock-photo-abstract-background-neon-light-motion.jpg);
    border-image-slice: 20;
    border-image-repeat: round;
    

}
#image-outset01 {
    margin: 30px;

    border: 30px solid;
    border-image-source: url(https://w7.pngwing.com/pngs/114/579/png-transparent-pink-cross-stroke-ink-brush-pen-red-ink-brush-ink-leave-the-material-text.png);
    border-image-repeat: round;
    border-image-slice: 169;
    border-image-outset: 30px;
}
#image-outset02 {
    margin: 30px;

    border: 30px solid;
    border-image-source: linear-gradient(black, pink);
    border-image-repeat: round;
    border-image-slice: 19;
    border-image-outset: 40px
    
}
#image-slice01 {
   border: 20px solid;
   border-image-source: url(https://laart.art.br/wp-content/uploads/2020/02/oqueearteabstrata-capa.jpg); /* URL da imagem da borda */
   border-image-slice: 40; /* Define a largura da área de corte da imagem da borda, se acrescentar o "fill" ao lado do tamanho, a imagem cortada volta como imagem de fundo*/
   border-image-repeat: round; /* Repete a imagem da borda para preencher a borda */
            
}
#image-slice02 {
   border: 20px solid;
   border-image-source: linear-gradient(black, green); 
   border-image-slice: 10; 
            
}
#resumindo{
   border: 15px solid;
   border-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZ4xHF_-9NP4RLXjFnU7xOQzlS6TpGFntG8Tid2N1BDQ&s)  10 / 20px 30px /1 round;
}
/*fontes*/
#fontes .Exemplo{
    
    padding: 1%;
    width: 200px;
    
    border-radius: 10px 10px;
    background-color: rgba(0, 0, 0, 0.699);
    margin: 10px;
   
}
#fontes .container{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
#fontes .code {
    padding: 3%;
}
#font-family img {
   
    border-radius: 10px;
    
}
/*font-face*/
#font-face img{
    
    border-radius: 10px;
   
}
/*font-size*/

#xx-small{
    font-size: xx-small;
}
#x-small{
    font-size: x-small;
}
#smal{
    font-size: small;
}
#medium{
    font-size: medium;
}
#large{
    font-size: large;
}
#x-large{
    font-size: x-large;
}
#xx-large{
    font-size: xx-large;
}
/*font-style*/
#normal{
    font-style: normal;
}
#italic{
    font-style: italic;
}
#oblique{
    font-style: oblique;
}
/*font-weigth*/
#weight-normal{
    font-weight: normal;
}
#weight-bold{
    font-weight: bold;
}
#weight-bolder{
    font-weight: bolder;
}
#weight-lighter{
    font-weight: lighter;
}
/*font-variant*/
#font-normal{
    font-variant: normal;
}
#small-caps{
    font-variant: small-caps;
}
#all-small-caps{
    font-variant: all-small-caps;
}
/*font-strech*/
#stretch-normal{
    font-stretch: normal;
}
#ultra-condensed{
    font-stretch: ultra-condensed;
}
#extra-condensed{
    font-stretch: extra-condensed;
}
#condensed{
    font-stretch: condensed;
}
#semi-condensed{
    font-stretch: semi-condensed;
}
#semi-expanded{
    font-stretch: semi-expanded;
}
#expanded{
    font-stretch: expanded;
}
#extra-expanded{
    font-stretch: extra-expanded;
}
#ultra-expanded{
    font-stretch: ultra-expanded;
}
/*line-heigth*/
#line-normal{
    line-height: normal;
}
#line-valor01{
    line-height: 1.5;
}
#line-valor02{
    line-height: 24px;
}
#line-valor03{
    line-height: 1.2em;
}
#line-valor04{
    line-height: 150%;
}
/*texto*/
#texto .text-decoration{
    text-align: justify;
}

/*text-transform*/
#text-transform .exemplo{
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;

    width: 300px;
    height: 100px;
    padding: 0 2% 0 5%;
}
#text-none{
    text-transform: none;
}
#text-capitalize{
    text-transform: capitalize;
}
#text-uppercase{
    text-transform: uppercase;
}
#text-lowercase{
    text-transform: lowercase;
}
#text-initial{
    text-transform: initial;
}
#text-inherit{
    text-transform: inherit;
}
/*text-aling*/
#text-aling .exemplo{
    width: 300px;
    height: 200px;
    padding: 3%;
}
#aling-left{
    text-align: left;
}
#aling-right{
    text-align: right;
}
#aling-center{
    text-align: center;
}
#aling-justify{
    text-align: justify;
}
#aling-initial{
    text-align: initial;
}
#aling-inherit{
    text-align: inherit;
}
/*text-decoration*/
#text-decoration .exemplo{
    padding: 2%;
    width: 300px;
    height: 200px;
}
#decoration-none{
    text-decoration:none;
}
#decoration-underline{
    text-decoration:underline;
}
#decoration-overline{
    text-decoration: overline;
}
#decoration-line-through{
    text-decoration: line-through;
}
#decoration-underline-overline{
    text-decoration: underline overline;
}
#decoration-underline-line-through{
    text-decoration: underline line-through;
}
#decoration-blink{
    text-decoration: blink;
}
#style-solid{
    text-decoration-line: underline;
    text-decoration-style: solid;
}
#style-double{
    text-decoration-line: underline;
    text-decoration-style: double;
}
#style-dotted{
    text-decoration-line: underline;
    text-decoration-style: dotted;
}
#style-dashed{
    text-decoration-line: underline;
    text-decoration-style: dashed
}
#style-wavy{
    text-decoration-line: underline;
    text-decoration-style: wavy;
}
#exemplo-color{
    text-decoration-line: underline; 
    text-decoration-color: red; 
}
#exemplo-thickness{
    text-decoration-line: underline;
    text-decoration-thickness: 5px;
}
/*text-indent*/
#text-indent{
    text-indent: 20px;
}
#Text-ident .exemplo{
    padding: 1%;
    height: auto;

}
/*letter-spacing*/

#letter-spacing{
    letter-spacing: 12px;

}
/*word-spacing*/
#word-spacing{
    word-spacing: 12px;
}
/*white-space*/
#white-space .exemplo{
    margin-bottom: 500px;
}
#space-normal{
    white-space: normal;
}
#space-nowrap{
    white-space: nowrap;            
}
#space-pre{
    white-space: pre;
}
#space-pre-wrap{
    white-space: pre-wrap;
}
#space-pre-line{
    white-space: pre-line;
}
.white-space{
    background-color: yellowgreen;
}
#wrap-normal{
    word-wrap: normal;
}
#wrap-break{
    word-wrap: break-word;
}
#break-normal{
    word-break: normal;
}
#break-break-all{
    word-break: break-all;
}
#break-keep-all{
    word-break: keep-all;
}
#horizontal-tb{
    writing-mode: horizontal-tb;
}
#vertical-rl{
    writing-mode: vertical-rl;
}
#vertical-lr{
    writing-mode: vertical-lr;
}
#clip{
   text-overflow: clip;
}
#ellipsis{
  text-overflow: ellipsis;
}
#string{
  text-overflow: 'ver mais';
}
#text-overflow p{
white-space: nowrap;
overflow: hidden;
background-color: yellowgreen;

}